#t4-hero .bg-overlay-image {
	background-image: url(/images/107309337_303163457494520_6096356167162988369_n.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}